.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.navbar li {
    list-style: none;
}

@media only screen and (max-width: 700px) {

    .navbar ul {
        gap: 2rem;
    }

}