.profile {
    display: flex;
    justify-content: left;
    gap: 1rem;
    padding-left: 1rem;
    flex-direction: column;
}

.left-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left:5%;
    background-color: #fff7de;
    width: 87.5%;
}

.right-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left:5%;
    background-color: #fff7de;
    width: 87.5%;
}


.right-pane form {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: white;
    width: 100%;
    gap: 20px;
    border: 0.5px black solid;
    box-shadow: 3px 3px;
    border-radius: 5rem;
    font-size: 15px;
}

.right-pane form input {
    background-color: white;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    height: 15px;
}

.right-pane form button {
    padding: 10px;
    border: none;
    background-color: #8100e3;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    flex-grow: 1;
    margin: 5px;
} 

.pdf-container {
    background-color: white;
    display: block;
    color: black;
    color-scheme: white;
}

.left-pane h1 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}
.left-pane form {
    display: flex;
    flex-direction: column;
    padding: 70px;
    background-color: white;
    width: 100%;
    gap: 20px;
    border: 0.5px black solid;
    box-shadow: 3px 3px;
    border-radius: 5rem;
    font-size: 15px;
}
.left-pane form input {
    background-color: white;
    padding: 10px;
    border: none;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 15px;
    height: 15px;
}
.left-pane form button {
    padding: 10px;
    border: none;
    background-color: #8100e3;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    flex-grow: 1;
    margin: 5px;
}
.left-pane form p {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
}
.left-pane form span {
    background-color: white;
    font-size: 15px;
    text-align: center;
}

#name-field {
    font-size: 30px;
}

.aspiring {
    display: flex;
    background-color: white;
    align-items: center;
}

.aspiring p {
    margin-right: 10px;
}

.aspiring input {
    flex-grow: 1;
}

#edit-button {
    background-color: #8100e3;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}

#save-button {
    background-color: #320257;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}