  .table-wrapper {
    width: 100%;
  }

  .table-wrapper1 {
    width: 100%;
    background-color: white;
  }
  
  .table {
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 90%;
    margin: auto;
    table-layout: auto;
    overflow-x: auto;
  }
  
  .table thead {
    background-color: #ccc;
    color: #222;
  }
  
  .table th,
  .table td {
    padding: 0.8rem;
    background-color: white;
  }
  
  .table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .table tbody tr:hover {
    background-color: #eee;
  }
  
  .expand {
    width: 100%;
  }
  
  .label {
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
  }
  
  .label-pending {
    background-color: #e4d615;
  }
  
  .label-accepted {
    background-color: #42a942;
  }

  .label-upcoming {
    background-color: grey;
  }
  
  .label-rejected {
    background-color: #d9534f;
  }

  .label-resume {
    background-color: #42a942;
  }

  .label-cover-letter {
    background-color: #707afa;
  }

  .label-transcript {
    background-color: grey;
  }
  
  .actions {
    display: flex;
    justify-content: space-around;
  }
  
  .actions svg {
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: white;
    color: #e10d05;
    padding: 0.5rem;
  }

  .edit-btn {
    background-color: white;
    padding: 0.5rem;
  }

  .upload-btn {
    background-color: white;
    padding: 0.5rem;
  }

  .download-btn {
    background-color: white;
    padding: 0.5rem;
  }